.albumList {
    display: flex;
    //https://www.w3schools.com/cssref/playit.asp?filename=playcss_flex-flow
    flex-flow: row nowrap; //ngang theo thứ tự

    padding: 0;
    margin: 0 -20px;
    list-style-type: none;
    & > li {
        padding: 0 20px;
    }
}
