.link {
    color: #fff;
    text-decoration: none;
}
.closeButton {
    position: "absolute";
    // top: theme.spacing(1);
    // right: theme.spacing(1);
    color: aqua;
    right: 2%;
    z-index: 1;
    width: 50px;
}
